                <div class="table-main lg-table">
                    <div class="title-main">
                        <h2>Products</h2>
                        <div class="rgt-scnt">

                            <div class="search-otr">
                                <input type="text" placeholder="Search" class="">
                                <i><img src="../../../assets/img/search-icon.svg" alt=""></i>
                            </div>

                            <div class="dropdown profile-drop darck-drop">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span><img src="../../../assets/img/icon-filter.svg" alt=""></span>Filter By
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Option Lorem ipsum 1</a></li>
                                    <li><a class="dropdown-item" href="#">Option Lorem ipsum 2</a></li>
                                    <li><a class="dropdown-item" href="#">Option Lorem ipsum 3</a></li>
                                    <li><a class="dropdown-item" href="#">Option Lorem ipsum 4</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="table-otr table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="width-003">
                                        <div class="sort">
                                            <span>ASIN</span>
                                            <div class="otr">
                                                <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="sort">
                                            <span>SKU</span>
                                            <div class="otr">
                                                <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="sort">
                                            <span>TITLE</span>
                                            <div class="otr">
                                                <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="sort">
                                            <span>category</span>
                                            <div class="otr">
                                                <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="sort">
                                            <span>Price</span>
                                            <div class="otr">
                                                <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="sort">
                                            <span>Cost of goods</span>
                                            <div class="otr">
                                                <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="sort">
                                            <span>FEES</span>
                                            <div class="otr">
                                                <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="sort">
                                            <span>Profit</span>
                                            <div class="otr">
                                                <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                            </div>
                                        </div>
                                    </th>

                                    <th>
                                        <div class="sort">
                                            <span>Alerts</span>
                                            <div class="otr">
                                                <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="sort">
                                            <span>Active</span>
                                            <div class="otr">
                                                <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                            </div>
                                        </div>
                                    </th>


                                </tr>
                            </thead>
                            <tbody>


                                <tr>
                                    <td>
                                        <button type="button" id="btn-toggle" class="btn-toggle" aria-expanded="false" onclick="toggle(this.id, '#id-1, #id-2');" aria-controls="id-1 id-2" aria-label="2 more from" aria-labelledby="btn-toggle id-master">
                                            <i class="fa fa-caret-right"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <div class="otr">
                                            <div class="product">
                                                <img src="../../../assets/img/81Ha+SI+QML._SX679_.png" alt="">
                                            </div>
                                            <div class="d-block">
                                                <p>BO246JKA</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>H1-R850-R808</td>
                                    <td>
                                        Cell phone covers for iphone 11 pro max
                                    </td>
                                    <td>
                                        Cell Phone Accessories
                                    </td>
                                    <td>
                                        $4.5
                                    </td>
                                    <td>
                                        <div class="link-cover">
                                            <p><a data-bs-toggle="modal" data-bs-target="#costModal" class="link-style" href="">Enter Cost</a></p>

                                        </div>
                                    </td>


                                    <td>
                                        $3.5
                                    </td>

                                    <td>
                                        $4.66
                                    </td>
                                    <td>
                                        <div class="link-cover">
                                            <p><a data-bs-toggle="modal" data-bs-target="#exampleModal" class="link-style" href="">Choose Alerts</a></p>
                                        </div>
                                    </td>

                                    <td class="forms">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" checked id="flexSwitchCheckDefault">
                                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                        </div>
                                    </td>
                                </tr>


                                <!-- colspan -->
                                <tr id="id-1" class="hide colspan-table-otr">

                                    <td> </td>
                                    <td>
                                        <div class="otr">
                                            <div class="product">
                                                <img src="../../../assets/img/81Ha+SI+QML._SX679_@2x.png" alt="">
                                            </div>
                                            <div class="d-block">
                                                <p>BO246JKA</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>H1-R850-R808</td>
                                    <td>
                                        Cell phone covers
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit
                                    </td>
                                    <td>
                                        Lorem ipsum dolor
                                    </td>
                                    <td>
                                        <div class="link-cover">
                                            <p><a data-bs-toggle="modal" data-bs-target="#costModal" class="link-style" href="">Enter Cost</a></p>
                                        </div>
                                    </td>


                                    <td>Lorem ipsum dolor</td>

                                    <td>
                                        Lorem ipsum dolor sit
                                    </td>
                                    <td>
                                        <div class="link-cover">
                                            <p><a class="link-style" href="">Choose Alerts</a></p>
                                        </div>
                                    </td>

                                    <td class="forms">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                        </div>
                                    </td>

                                </tr>

                                <!-- colspan End -->
                                <!-- colspan -->
                                <tr id="id-2" class="hide colspan-table-otr">

                                    <td> </td>
                                    <td>
                                        <div class="otr">
                                            <div class="product">
                                                <img src="../../../assets/img/81Ha+SI+QML._SX679_@2x.png" alt="">
                                            </div>
                                            <div class="d-block">
                                                <p>BO246JKA</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>H1-R850-R808</td>
                                    <td>
                                        Cell phone covers
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit
                                    </td>
                                    <td>
                                        Lorem ipsum dolor
                                    </td>
                                    <td>
                                        <div class="link-cover">
                                            <p><a data-bs-toggle="modal" data-bs-target="#costModal" class="link-style" href="">Enter Cost</a></p>
                                        </div>
                                    </td>


                                    <td>Lorem ipsum dolor</td>

                                    <td>
                                        Lorem ipsum dolor sit
                                    </td>
                                    <td>
                                        <div class="link-cover">
                                            <p><a class="link-style" href="">Choose Alerts</a></p>
                                        </div>
                                    </td>

                                    <td class="forms">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                        </div>
                                    </td>

                                </tr>

                                <!-- colspan End -->


                                <!-- row start -->
                                <tr>
                                    <td> <i><img src="../../../assets/img/arrow-round-1.svg" alt=""></i></td>
                                    <td>
                                        <div class="otr">
                                            <div class="product">
                                                <img src="../../../assets/img/81Ha+SI+QML._SX679_.png" alt="">
                                            </div>
                                            <div class="d-block">
                                                <p>BO246JKA</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>H1-R850-R808</td>
                                    <td>
                                        Cell phone covers for iphone 11 pro max
                                    </td>
                                    <td>
                                        Cell Phone Accessories
                                    </td>
                                    <td>
                                        $4.5
                                    </td>
                                    <td>
                                        <div class="link-cover">
                                            <p><a data-bs-toggle="modal" data-bs-target="#costModal" class="link-style" href="">Enter Cost</a></p>
                                        </div>
                                    </td>


                                    <td>$3.50</td>

                                    <td>
                                        $4.66
                                    </td>
                                    <td>
                                        <div class="link-cover">
                                            <p><a data-bs-toggle="modal" data-bs-target="#exampleModal-01" class="link-style" href="">Choose Alerts</a></p>
                                        </div>
                                    </td>

                                    <td class="forms">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                        </div>
                                    </td>
                                </tr>
                                <!-- row start end -->


                                <!-- row start -->
                                <tr>
                                    <td> <i><img src="../../../assets/img/arrow-round-1.svg" alt=""></i></td>
                                    <td>
                                        <div class="otr">
                                            <div class="product">
                                                <img src="../../../assets/img/81Ha+SI+QML._SX679_@2x.png" alt="">
                                            </div>
                                            <div class="d-block">
                                                <p>BO246JKA</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>H1-R850-R808</td>
                                    <td>
                                        Cell phone covers for iphone 11 pro max
                                    </td>
                                    <td>
                                        Cell Phone Accessories
                                    </td>
                                    <td>
                                        $4.5
                                    </td>
                                    <td>
                                        <div class="link-cover">
                                            <p><a data-bs-toggle="modal" data-bs-target="#costModal" class="link-style" href="">Enter Cost</a></p>
                                        </div>
                                    </td>


                                    <td>$3.50</td>

                                    <td>
                                        $4.66
                                    </td>
                                    <td>
                                        <div class="link-cover">
                                            <p><a class="link-style" href="">Choose Alerts</a></p>
                                        </div>
                                    </td>

                                    <td class="forms">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                        </div>
                                    </td>
                                </tr>
                                <!-- row start end -->
                                <!-- row start -->
                                <tr>
                                    <td> <i><img src="../../../assets/img/arrow-round-1.svg" alt=""></i></td>
                                    <td>
                                        <div class="otr">
                                            <div class="product">
                                                <img src="../../../assets/img/product-01.png" alt="">
                                            </div>
                                            <div class="d-block">
                                                <p>BO246JKA</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>H1-R850-R808</td>
                                    <td>
                                        Cell phone covers for iphone 11 pro max
                                    </td>
                                    <td>
                                        Cell Phone Accessories
                                    </td>
                                    <td>
                                        $4.5
                                    </td>
                                    <td>$3.50</td>


                                    <td>$3.50</td>

                                    <td>
                                        $4.66
                                    </td>
                                    <td>
                                        <div class="link-cover">
                                            <p><a class="link-style" href="">Choose Alerts</a></p>
                                        </div>
                                    </td>

                                    <td class="forms">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                        </div>
                                    </td>
                                </tr>
                                <!-- row start end -->
                                <!-- row start -->
                                <tr>
                                    <td> <i><img src="../../../assets/img/arrow-round-1.svg" alt=""></i></td>
                                    <td>
                                        <div class="otr">
                                            <div class="product">
                                                <img src="../../../assets/img/product-01.png" alt="">
                                            </div>
                                            <div class="d-block">
                                                <p>BO246JKA</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>H1-R850-R808</td>
                                    <td>
                                        Cell phone covers for iphone 11 pro max
                                    </td>
                                    <td>
                                        Cell Phone Accessories
                                    </td>
                                    <td>
                                        $4.5
                                    </td>
                                    <td>$3.50</td>


                                    <td>$3.50</td>

                                    <td>
                                        $4.66
                                    </td>
                                    <td>
                                        <div class="link-cover">
                                            <p><a class="link-style" href="">Choose Alerts</a></p>
                                        </div>
                                    </td>

                                    <td class="forms">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                        </div>
                                    </td>
                                </tr>
                                <!-- row start End -->
                                <!-- row start -->
                                <tr>
                                    <td> <i><img src="../../../assets/img/arrow-round-1.svg" alt=""></i></td>
                                    <td>
                                        <div class="otr">
                                            <div class="product">
                                                <img src="../../../assets/img/product-01.png" alt="">
                                            </div>
                                            <div class="d-block">
                                                <p>BO246JKA</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>H1-R850-R808</td>
                                    <td>
                                        Cell phone covers for iphone 11 pro max
                                    </td>
                                    <td>
                                        Cell Phone Accessories
                                    </td>
                                    <td>
                                        $4.5
                                    </td>
                                    <td>$3.50</td>


                                    <td>$3.50</td>

                                    <td>
                                        $4.66
                                    </td>
                                    <td>
                                        <div class="link-cover">
                                            <p><a class="link-style" href="">Choose Alerts</a></p>
                                        </div>
                                    </td>

                                    <td class="forms">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                        </div>
                                    </td>
                                </tr>
                                <!-- row start end -->


                                <tr>
                                    <td> <i><img src="../../../assets/img/arrow-round-1.svg" alt=""></i></td>
                                    <td>
                                        <div class="otr">
                                            <div class="product">
                                                <img src="../../../assets/img/product-01.png" alt="">
                                            </div>
                                            <div class="d-block">
                                                <p>BO246JKA</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>H1-R850-R808</td>
                                    <td>
                                        Cell phone covers for iphone 11 pro max
                                    </td>


                                    <td>
                                        Cell Phone Accessories
                                    </td>
                                    <td>
                                        $4.5
                                    </td>
                                    <td>
                                        <div class="link-cover">
                                            <p><a class="link-style" href="">Enter Cost</a></p>
                                        </div>
                                    </td>


                                    <td>$3.50</td>

                                    <td>
                                        $4.66
                                    </td>
                                    <td>
                                        <div class="link-cover">
                                            <p><a class="link-style" href="">Choose Alerts</a></p>
                                        </div>
                                    </td>

                                    <td class="forms">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                        </div>
                                    </td>


                                </tr>






                            </tbody>
                        </table>


                    </div>
                    <div class="pagination-otr">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <span class="lft"><img src="../../../assets/img/chevron-arrows.svg" alt=""></span>Prev</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next <span class="rgt"><img
                                                src="../../../assets/img/chevron-arrows.svg" alt=""></span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>



    <!-- Modal -->
    <div class="modal fade  cusotm-modal config-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Configure Alerts</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                </div>
                <div class="modal-body">
                    <div class="config-modal-body">
                        <div class="item-detail-cover">

                            <div class="item-detail-row row">
                                <div class="col-md-3 col-sm-6 sm-det-block">
                                    <div class="item-wrapper">
                                        <div class="item-img">
                                            <img src="../../../assets/img/sm-wch.png" alt="">
                                        </div>
                                        <div class="item-label">
                                            <p class="title-p">ASIN</p>
                                            <p class="label-p">BO246JKA</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 sm-det-block">
                                    <div class="item-wrapper">
                                        <div class="item-label">
                                            <p class="title-p">SKU</p>
                                            <p class="label-p">H1-R850-R808</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 sm-det-block">
                                    <div class="item-wrapper">
                                        <div class="item-label">
                                            <p class="title-p">TITLE</p>
                                            <p class="label-p">Cell phone covers for iphone 11 pro max</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="btn-toggle-cover toggle-scroll">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="custom-btn-switch form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">New Competitor</label>
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-btn-switch form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Tittle Change</label>
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-btn-switch form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Tittle Change</label>
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-btn-switch form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Tittle Change</label>
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-btn-switch form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Main Image Change</label>
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-btn-switch form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Image Removed</label>
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-btn-switch form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Category Change</label>
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-btn-switch form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">description Change</label>
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-btn-switch form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Email Alerts</label>
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-btn-switch form-check form-switch">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Text Change</label>
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-apply">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->


    <!-- Image Compare Modal -->
    <div class="modal fade  cusotm-modal config-modal compare-image-cover" id="exampleModal-01" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Compare Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                </div>
                <div class="modal-body ">
                    <div class="config-modal-body p-0">
                        <div class="item-detail-cover">

                            <div class="item-detail-row compare-btn-grp">

                                <button class="compare-btn active">Previous</button>
                                <button class="compare-btn">Current</button>
                            </div>
                        </div>

                        <div class="btn-toggle-cover">
                            <div class="compare-image">
                                <!-- <img src="img/image_2021_11_09T07_53_24_021Z.png" alt=""> -->
                                <img src="../../../assets/img/small.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-apply">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Image Compare Modal End -->

    <!-- cost -->
    <div class="modal fade cusotm-modal change-number-modal" id="costModal" tabindex="-1" aria-labelledby="costModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="costModalLabel">Cost</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                </div>
                <div class="modal-body">
                    <div class="change-number-modal-body">
                        <div class="item-detail-cover">
                            <div class="item-detail-row row">
                                <div class="col-md-4 sm-det-block">
                                    <div class="item-wrapper">
                                        <div class="item-label">
                                            <p class="title-p">ASIN</p>
                                            <p class="label-p">H1-R850-R808</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 sm-det-block">
                                    <div class="item-wrapper">
                                        <div class="item-label">
                                            <p class="title-p">SKU</p>
                                            <p class="label-p">H1-R850-R808</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="number-form-cover cost-form-cover">
                            <div class="form-col">
                                <label for="changeNumber" class="form-label">Cost of goods per unit (USD)</label>
                                <input type="email" class="form-control" id="changeNumber">
                            </div>
                            <div class="form-col">
                                <label for="changeNumber" class="form-label">Shipping cost per unit (USD)</label>
                                <input type="email" class="form-control" id="changeNumber">
                            </div>
                            <div class="form-col">
                                <label for="changeNumber" class="form-label">Other cost per unit (USD)</label>
                                <input type="email" class="form-control" id="changeNumber">
                            </div>
                            <p class="total">Total Cost: <span>$8.5</span></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-apply">Save</button>
                </div>
            </div>
        </div>
    </div>

