<div class="content-area-main new-table-style-otr">
    <div class="table-main lg-table mt-0">
        <div class="title-main">
            <h2>Customers</h2>
            <div class="rgt-scnt">

                <div class="search-otr">
                    <input type="text" placeholder="Search" class="">
                    <i><img src="../../../assets/img/search-icon.svg" alt=""></i>
                </div>

                <div class="dropdown profile-drop darck-drop">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span><img src="../../../assets/img/icon-filter.svg" alt=""></span>Filter By
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 1</a></li>
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 2</a></li>
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 3</a></li>
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 4</a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="table-otr table-responsive single-line new-table-style">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <div class="sort">
                                <span>Sl. No.</span>
                                
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>Customer ID</span>
                                
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>Name</span>
                                
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>Email ID</span>
                                
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>Sub Status</span>
                                
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>Start Date</span>
                                
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>Last Payment Date</span>
                                
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>Last Payment Amount</span>
                                
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>Action </span>
                                
                            </div>
                        </th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>12365466989</td>
                        <td>John Done</td>
                        <td>johndonemail.com</td>
                        <td> <span class="status active">Active</span></td>
                        <td>01/21/2021</td>
                        <td>06/01/2021</td>
                        <td>$19.99</td>
                        <td>
                            <button class="table-button">
                                <img src="../../../assets/img/icon-delete.svg" alt="">
                             </button>
                             <button class="table-button">
                                <img src="../../../assets/img/edit-icon.svg" alt="">
                             </button>
                        </td>
                       
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>12365466989</td>
                        <td>John Done</td>
                        <td>johndonegmail.com</td>
                        <td> <span class="status cancel">Cancelled</span></td>
                        <td>01/21/2021</td>
                        <td>06/01/2021</td>
                        <td>$19.99</td>
                        <td>
                            <button class="table-button">
                                <img src="../../../assets/img/icon-delete.svg" alt="">
                             </button>
                             <button class="table-button">
                                <img src="../../../assets/img/edit-icon.svg" alt="">
                             </button>
                        </td>
                       
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>12365466989</td>
                        <td>John Done</td>
                        <td>johndone gmail.com</td>
                        <td> <span class="status active">Active</span></td>
                        <td>01/21/2021</td>
                        <td>06/01/2021</td>
                        <td>$19.99</td>
                        <td>
                            <button class="table-button">
                                <img src="../../../assets/img/icon-delete.svg" alt="">
                             </button>
                             <button class="table-button">
                                <img src="../../../assets/img/edit-icon.svg" alt="">
                             </button>
                        </td>
                       
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>12365466989</td>
                        <td>John Done</td>
                        <td>johndone gmail.com</td>
                        <td> <span class="status cancel">Cancelled</span></td>
                        <td>01/21/2021</td>
                        <td>06/01/2021</td>
                        <td>$19.99</td>
                        <td>
                            <button class="table-button">
                                <img src="../../../assets/img/icon-delete.svg" alt="">
                             </button>
                             <button class="table-button">
                                <img src="../../../assets/img/edit-icon.svg" alt="">
                             </button>
                        </td>
                       
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>12365466989</td>
                        <td>John Done</td>
                        <td>johndone gmail.com</td>
                        <td> <span class="status active">Active</span></td>
                        <td>01/21/2021</td>
                        <td>06/01/2021</td>
                        <td>$19.99</td>
                        <td>
                            <button class="table-button">
                                <img src="../../../assets/img/icon-delete.svg" alt="">
                             </button>
                             <button class="table-button">
                                <img src="../../../assets/img/edit-icon.svg" alt="">
                             </button>
                        </td>
                       
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>12365466989</td>
                        <td>John Done</td>
                        <td>johndone gmail.com</td>
                        <td> <span class="status cancel">Cancelled</span></td>
                        <td>01/21/2021</td>
                        <td>06/01/2021</td>
                        <td>$19.99</td>
                        <td>
                            <button class="table-button">
                                <img src="../../../assets/img/icon-delete.svg" alt="">
                             </button>
                             <button class="table-button">
                                <img src="../../../assets/img/edit-icon.svg" alt="">
                             </button>
                        </td>
                       
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>12365466989</td>
                        <td>John Done</td>
                        <td>johndone gmail.com</td>
                        <td> <span class="status active">Active</span></td>
                        <td>01/21/2021</td>
                        <td>06/01/2021</td>
                        <td>$19.99</td>
                        <td>
                            <button class="table-button">
                                <img src="../../../assets/img/icon-delete.svg" alt="">
                             </button>
                             <button class="table-button">
                                <img src="../../../assets/img/edit-icon.svg" alt="">
                             </button>
                        </td>
                       
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>12365466989</td>
                        <td>John Done</td>
                        <td>johndone gmail.com</td>
                        <td> <span class="status cancel">Cancelled</span></td>
                        <td>01/21/2021</td>
                        <td>06/01/2021</td>
                        <td>$19.99</td>
                        <td>
                            <button class="table-button">
                                <img src="../../../assets/img/icon-delete.svg" alt="">
                             </button>
                             <button class="table-button">
                                <img src="../../../assets/img/edit-icon.svg" alt="">
                             </button>
                        </td>
                       
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>12365466989</td>
                        <td>John Done</td>
                        <td>johndone gmail.com</td>
                        <td> <span class="status cancel">Cancelled</span></td>
                        <td>01/21/2021</td>
                        <td>06/01/2021</td>
                        <td>$19.99</td>
                        <td>
                            <button class="table-button">
                                <img src="../../../assets/img/icon-delete.svg" alt="">
                             </button>
                             <button class="table-button">
                                <img src="../../../assets/img/edit-icon.svg" alt="">
                             </button>
                        </td>
                       
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>12365466989</td>
                        <td>John Done</td>
                        <td>johndone gmail.com</td>
                        <td> <span class="status cancel">Cancelled</span></td>
                        <td>01/21/2021</td>
                        <td>06/01/2021</td>
                        <td>$19.99</td>
                        <td>
                            <button class="table-button">
                                <img src="../../../assets/img/icon-delete.svg" alt="">
                             </button>
                             <button class="table-button">
                                <img src="../../../assets/img/edit-icon.svg" alt="">
                             </button>
                        </td>
                       
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div class="pagination-otr">
            
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <span class="lft"><img src="../../../assets/img/chevron-arrows.svg" alt=""></span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">01</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">02</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#"> <span class="rgt"><img src="../../../assets/img/chevron-arrows.svg" alt=""></span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>