    <div class="forms-add-deal mt-5">
        <div class="box-otr">
            
            <div class="forms-main row">
                <div class="col-md-4 p-s-e">
                    <div class="input-holder">
                        <label for="">Seller</label>
                        
                        <select name="" id="" class="form_control">
                            <option value="">Select Seller</option>
                            <option value="1">Seller Name</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-8 p-s-e">
                    <div class="input-holder">
                        <label for="">&nbsp;</label>
                        <div class="input-group mb-3">
                            <select name="" id="" class="form-control form_control">
                                <option value="">Search Product</option>
                                <option value="1">Product Name</option>
                                <option value="1">Product Name</option>
                            </select>

                            <button class="btn btn-outline-custom" type="button" id="button-addon2">
                                <img src="../../../assets/img/search-icon.svg" alt="">
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="forms-main row">

                <div class="col-md-4 p-s-e">
                    <div class="input-holder">

                        <div class="d-flex align-items-center">
                            <label for="">Coupon Code</label>

                            <div class="dropdown info-dropdown">
                                <button class="btn btn-outline info-dd dropdown-toggle" type="button" id="uploadInfo" data-bs-toggle="dropdown" aria-expanded="false">
                                   <img src="../../../assets/img/info-circle.svg" alt="">
                                </button>
                                <ul class="dropdown-menu info-dd-content w-100" aria-labelledby="uploadInfo">
                                  <li class="py-2 px-3">* While Uploading excel file, First row with any content will be considered as Header.
                                </li>
                                </ul>
                              </div>
                        </div>
                        
                        <div class="input-group-custom">
                            <input class="form_control" type="text" placeholder="Enter Coupon Code">
                            <div class="btn btn-outline-custom upload_icon" type="button" id="upload" data-bs-toggle="tooltip" data-bs-placement="bottom" title="only coupon codes can be entered in excel for bulk upload">
                                <img src="../../../assets/img/upload.svg" alt="">
                                <input type="file" class="hidden_file">
                            </div>
                           
                        </div>
                        <div class="filename">
                            <b>Uploaded File: </b>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci modi commodi distinctio ea, sequi aliquid?</div>
                    </div>
                </div>

                <div class="col-md-4 p-s-e">
                    <div class="input-holder">
                        <div class="date-label">
                            <label for="">Validity From</label>
                            <label for="">Validity To</label>
                        </div>
                        <div class="input-group-date">
                            <input class="form_control datepick" type="text" placeholder="From">
                            <input class="form_control datepick" type="text" placeholder="To">
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 p-s-e">
                    <div class="d-flex align-items-stretch">
                        
                            <div class="input-holder">
                                <label for="">Percentage Off</label>
                                <input class="form_control" type="text" placeholder="">
                            </div>
                        
                            <div class="input-holder pt-2 ps-2  align-self-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Exclusive Deals
                                    </label>
                                  </div>
                            </div>
                       
                    </div>
                </div>

                <div class="w-100"></div>

                <div class="col-md-4 p-s-e">
                    
                        <div class="input-holder">
                            <label for="">Deal Name</label>
                            <input class="form_control" type="text" placeholder="">
                        </div>
                     
                    
                </div>

                <div class="col-md-4 p-s-e">
                    <div class="input-holder">
                        <label for="">Deal Expectation</label>
                        <textarea class="form_control" type="text" placeholder=""></textarea>
                    </div>
                    
                </div>
                
                <div class="col-md-4 p-s-e">
                   
                    <div class="w-100"></div>
                    <div class="action_btn">
                        <button type="button" class="btn btn-dark me-xl-3 me-1"> Cancel</button>
                        <button type="button" class="btn btn-green"> Create A Deal</button>
                        <div class="validation-error-wrap">
                            <div class="form-error-message">
                                slklsdklsd
                            </div>
                        </div>
                    </div>
                                                   
                </div>

            </div>

            <div class="forms-main row">

                <div class="seach-prod-item">
                    <div class="spd spd-img">
                        <img src="https://picsum.photos/64" alt="">
                    </div>
                    <div class="spd spd-asin">
                        <span class="title">ASIN</span>
                        <span class="info">B9B9001234</span>
                    </div>
                    <div class="spd spd-sku">
                        <span class="title">SKU</span>
                        <span class="info">B9B9001234</span>
                    </div>
                    <div class="spd spd-title">
                        <span class="title">TITLE</span>
                        <span class="info">Product Name Lorem ipsum dolor sit amet.</span>
                    </div>
                </div>

                
            </div>

        </div>
    </div>

    <div class="table-main lg-table">
        <div class="title-main">
            <div class="title-left">
                <div class="title-block">
                    <h2>View Deals & Coupon Management</h2>
                </div>
            </div>
            <div class="rgt-scnt">

                <div class="search-otr">
                    <input type="text" placeholder="Search" class="">
                    <i><img src="../../../assets/img/search-icon.svg" alt=""></i>
                </div>

                <div class="dropdown profile-drop darck-drop">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span><img src="../../../assets/img/icon-filter.svg" alt=""></span>Filter By
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 1</a></li>
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 2</a></li>
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 3</a></li>
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 4</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="table-otr table-responsive single-line">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <div class="sort">
                                <span>Seller</span>
                                <div class="otr">
                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>Product Name</span>
                                <div class="otr">
                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>ASIN</span>
                                <div class="otr">
                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>Coupon Count</span>
                                <div class="otr">
                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>Deal Validity</span>
                                <div class="otr">
                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>Percentage Off</span>
                                <div class="otr">
                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>Remove</span>
                                <div class="otr">
                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                </div>
                            </div>
                        </th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Liam Benjamin</td>
                        <td>Sony Playstation 5</td>
                        <td>ASIN</td>
                        <td> 
                            <div class="link-cover">
                                <p><a href="#" class="link-style">10 Coupon</a></p>
                            </div>
                        </td>
                        <td>25 Feb 2022 - 28 Feb 2022</td>
                        <td>30-50 % Off</td>
                        <td>
                            <div class="d-flex">
                                <button class="table-button">
                                    <img src="../../../assets/img/edit-icon-alt.svg" alt="" width="12">
                                 </button>
                                <button class="table-button">
                                    <img src="../../../assets/img/icon-delete.svg" alt="" width="18">
                                 </button>
                            </div>
                            
                        </td>
                    </tr>

                    <tr>
                        <td>Liam Benjamin</td>
                        <td>Sony Playstation 5</td>
                        <td>ASIN</td>
                        <td> 
                            <div class="link-cover">
                                <p><a href="#" class="link-style">10 Coupon</a></p>
                            </div>
                        </td>
                        <td>25 Feb 2022 - 28 Feb 2022</td>
                        <td>30-50 % Off</td>
                        <td>
                            <div class="d-flex">
                                <button class="table-button">
                                    <img src="../../../assets/img/edit-icon-alt.svg" alt="" width="12">
                                 </button>
                                <button class="table-button">
                                    <img src="../../../assets/img/icon-delete.svg" alt="" width="18">
                                 </button>
                            </div>
                        </td>
                    </tr>

                    

                </tbody>
            </table>
        </div>
        <div class="pagination-otr">
            <div class="dropdown profile-drop">
                <button class="btn btn-light text-secondary border-secondary dropdown-toggle border-0" type="button" aria-expanded="false" id="dropdownMenuButton1" data-bs-toggle="dropdown"><span class="txt-sze"><img src="" alt="">Rows per page - 10</span></button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <div class="dropdown-item">10</div>
                    </li>
                    <li>
                        <div class="dropdown-item">20</div>
                    </li>
                    <li>
                        <div class="dropdown-item">30</div>
                    </li>
                    <li>
                        <div class="dropdown-item">40</div>
                    </li>
                    <li>
                        <div class="dropdown-item">50</div>
                    </li>
                </ul>
            </div>
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <span class="lft"><img src="../../../assets/img/chevron-arrows.svg" alt=""></span>Prev</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next <span class="rgt"><img src="../../../assets/img/chevron-arrows.svg" alt=""></span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
