<body>

   
    <div class="gradient-banner">
        <div class="row">
            <div class="col-lg-6 col-md-6">

                <small>Protect and Grow Your</small>
                <div class="large">amazon business</div>

                <p>
                    Is your Amazon revenue protected? Now you can quickly get notified of changes, such as new competitors, product suppressions etc., that can seriously impact your product ranking and revenue. Get started with 24/7 monitoring of your Amazon products.
                </p>

                <a href="" class="bnr-btn">Sign Up</a>

            </div>
            <div class="col-lg-6 col-md-6">
                <div class="video-bg">
                    <div class="video_box">
                        <video id="myVideo" controls>
                     <source src="../../assets/videos/video.mp4" type="video/mp4">
                     </video>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div id="features-section" class="element-lft-rgt-otr ">
        <div class="outer">
            <div class="img-area">
                <img src="../../assets/img/protect.png" alt="">
            </div>
            <div class="content_area">
                <div class="stylish-head">
                    <!-- <small>Peace of Mind for your</small> -->
                    <div class="h1">Protect your amazon business by monitoring your product </div>

                </div>
                <article>
                    <h3>Peace of Mind for Your Amazon Business</h3>
                    <p>AMZAlert is a simple system that solves the complex Amazon seller problem of monitoring uch things</p>
                </article>
            </div>
        </div>

        <div class="outer scnd">
            <div class="content_area ">
                <div class="stylish-head">
                    <!-- <small>Peace of Mind for your</small> -->
                    <div class="h1">Grow your amazon business  by automating reviews</div>

                </div>

                <article>
                    <h3>Peace of Mind for Your Amazon Business</h3>
                    <p>AMZAlert is a simple system that solves the complex Amazon seller problem of monitoring uch things</p>
                </article>
            </div>
            <div class="img-area">
                <img src="../../assets/img/grow.png" alt="">
            </div>
        </div>


        <div class="outer">
            <div class="img-area">
                <img src="../../assets/img/compete.png" alt="">
            </div>
            <div class="content_area">
                <div class="stylish-head">
                    <!-- <small>Peace of Mind for your</small> -->
                    <div class="h1">Competetor Product<br/> Monitoring</div>

                </div>
                <article>
                    <h3>Peace of Mind for Your Amazon Business</h3>
                    <p>AMZAlert is a simple system that solves the complex Amazon seller problem of monitoring uch things</p>
                </article>
            </div>
        </div>

        <!-- new sections  -->

        <div class="outer scnd">
            <div class="content_area ">
                <div class="stylish-head">
                    <!-- <small>Peace of Mind for your</small> -->
                    <div class="h1">FBA Calculator</div>

                </div>

                <article>
                    <h3>Maximize Your Profits with our FBA Calculator</h3>
                    <p> Our FBA Calculator empowers Amazon sellers by providing accurate insights into their potential profits. Easily calculate fees, shipping costs, and revenue to make informed decisions and optimize your selling strategy.</p>
                </article>
            </div>
            <div class="img-area">
                <img src="../../assets/img/grow.png" alt="">
            </div>
        </div>


        <div class="outer">
            <div class="img-area">
                <img src="../../assets/img/compete.png" alt="">
            </div>
            <div class="content_area">
                <div class="stylish-head">
                    <!-- <small>Peace of Mind for your</small> -->
                    <div class="h1">Category Trends</div>

                </div>
                <article>
                    <h3>Stay Ahead of the Game with Category Trends</h3>
                    <p> Keep track of the latest trends in all Amazon categories, so you can identify lucrative opportunities and align your product offerings accordingly</p>
                </article>
            </div>
        </div>

        <div class="outer scnd">
            <div class="content_area ">
                <div class="stylish-head">
                    <!-- <small>Peace of Mind for your</small> -->
                    <div class="h1">AI Tools: Keyword Recommendations & Video Creation</div>

                </div>

                <article>
                    <h3>Unleash the Power of AI for Your Amazon Success</h3>
                    <p>Our AI-powered Keyword Recommendations feature takes the guesswork out of optimizing your product listings. Discover the most relevant and high-converting keywords for your items, leading to increased visibility and sales. </p>
                </article>
            </div>
            <div class="img-area">
                <img src="../../assets/img/grow.png" alt="">
            </div>
        </div>


        <div class="outer">
            <div class="img-area">
                <img src="../../assets/img/compete.png" alt="">
            </div>
            <div class="content_area">
                <div class="stylish-head">
                    <!-- <small>Peace of Mind for your</small> -->
                    <div class="h1">Spying: Spy on Category, Spy on Competitor</div>

                </div>
                <article>
                    <h3>Gain a Competitive Edge with Our Advanced Spying Tools</h3>
                    <p>Stay one step ahead of the competition with our powerful Spying features. Spy on any Amazon category to spot emerging trends, identify top-performing products, and explore potential gaps in the market.</p>
                </article>
            </div>
        </div>

    </div>

    <section class="slider-section">
        <div class="custom-container flex-column ">
            <div class="count-wrapper" id="counter">
                <div class="count-list">
                    <div class="counter-value" data-count="300">0</div>
                    <small>LISTINGS MONITORED</small>
                </div>

                <div class="count-list">
                    <div class="counter-value" data-count="100">10</div>
                    <small>ALERTS SENT</small>
                </div>

                <div class="count-list">
                    <div class="counter-value" data-count="500">100</div>
                    <small>SELLERS USING <br>SELLER SIMPLE</small>
                </div>
                <div class="count-list">
                    <div class="counter-value" data-count="300">50</div>
                    <small>REVIEWS REQUESTED</small>
                </div>
            </div>
            <div class="primary-head">
                <h2>A Simple Dashboard To Review Your Business Growth</h2>
                <strong>The Central Dashboard Provides A Quick Overview Of Total Revenue, Profits, Important Alerts And Recent Reviews Of Your Products</strong>
            </div>
        </div>
        <div class="container py-4 px-2">


            <div class="slider-inner">
                <ngb-carousel *ngIf="images" [showNavigationArrows]="true">
                  <ng-template ngFor let-image [ngForOf]="images">
                    <ng-template ngbSlide>
                      <img [src]="image" class="d-block w-100 custom-image" alt="Slide">
                    </ng-template>
                  </ng-template>
                </ngb-carousel>
              </div>
              
              
        </div>
    </section>


    <section class="testimonial-cover">
        <div class="hdg"><strong>Let's Hear It From Our Clients</strong></div>
        <div class="custom-container d-block">
          <ngb-carousel *ngIf="images" [showNavigationArrows]="true">
            <ng-template ngFor let-item [ngForOf]="testimonialData">
              <ng-template ngbSlide>
                <div class="box-full">
                  <div class="profile-img">
                    <img [src]="item.imageUrl" alt="">
                  </div>
                  <div class="content-bx">
                    <p>{{ item.testimonial }}</p>
                    <div class="star-rating">
                      <i class="bi bi-star-fill" *ngFor="let star of item.ratingArray"></i>
                      <i class="bi bi-star-fill not-fill" *ngFor="let star of item.emptyRatingArray"></i>
                    </div>
                    <strong>{{ item.name }}</strong>
                    <small>{{ item.position }}</small>
                  </div>
                </div>
              </ng-template>
            </ng-template>
          </ngb-carousel>
        </div>
      </section>
      

    <div class="amazon-design-element-one">
        <div class="custom-container-sm container">
            <div class="row">
                <div class="col-md-12">
                    <div class="stylish-head">
                        <!-- <small>Peace of Mind for your</small> -->
                        <div class="h1">Protect And Grow <br>Your Amazon Business</div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="lg-list-style">
                        <ul>
                            <li>
                                <i><img src="../../assets/img/ok.svg" alt=""></i>
                                <div class="content">
                                    <strong>35 Point Monitoring</strong>
                                    <p>New competitors, product suppression product image changes, ranking changes etc</p>
                                </div>
                            </li>
                            <li>
                                <i><img src="../../assets/img/ok.svg" alt=""></i>
                                <div class="content">
                                    <strong>Central Dashboard</strong>
                                    <p>Central place to view revenue, profits, recent request reviews for reviews, top products, etc</p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="lg-list-style">
                        <ul>
                            <li>
                                <i><img src="../../assets/img/ok.svg" alt=""></i>
                                <div class="content">
                                    <strong>Automatic Review Request</strong>
                                    <p>Automatically request reviews for all your orders</p>
                                </div>
                            </li>
                            <li>
                                <i><img src="../../assets/img/ok.svg" alt=""></i>
                                <div class="content">
                                    <strong>Cancel Anytime</strong>
                                    <p>You can cancel your membership anytime</p>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <footer class="footer-main">
        <div class="logo-social">
            <a href="" class="ftr-logo">
                <img src="../../assets/img/logo.svg" alt="">
            </a>
            <div class="social-link">
                <a href=""><img src="../../assets/img/fb.svg" alt=""></a>
                <a href=""><img src="../../assets/img/twitter.svg" alt=""></a>
                <a href=""><img src="../../assets/img/linkedin.svg" alt=""></a>
                <a href=""><img src="../../assets/img/youtube.svg" alt=""></a>
            </div>

            <!-- <a href="#" class="gradient-btn"><img class=" me-3" src="img/playstore.svg" alt=""> DOWNLOD FROM Playstore</a> -->
        </div>
        <div class="footer-menu">
            <div class="row newsletter-row">
                <!-- // newsletter signup form -->
                <div class="col-lg-6 col-md-6">
                    <div class="footer-newsletter-wrap">
                        <div class="nl-titles">
                            <h3>Subscribe to our newsletter</h3>
                             <p>Subscribe to our newsletter to receive exclusive offer, latest news and updates</p>
                        </div>
                        <form action="" class="nl-form" id="newsletter-form">
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="E-mail" aria-label="email" aria-describedby="nl-join">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary" type="button" id="nl-join">SUBSCRIBE</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
                <div class="col-lg-6  col-md-6 d-flex">
                    <img src="../../assets/img/subscribe.svg" alt="newsletter" class="newsletter-img mx-auto mt-auto"/>
                </div>
                <!-- // newsletter signup form ends-->
            </div>
            <div class="row">
                <div class="col-lg-12 pt-4">
                    <nav>
                        <strong>quick links</strong>

                        <div class="line"></div>

                        <ul>
                            <li><a> Pricing</a></li>
                            <li><a> FAQ</a> </li>
                            <li><a> Testimonials</a> </li>
                            <li><a> Terms and Conditions</a> </li>
                            <li><a> Privacy Policy</a> </li>
                            <li><a>Sign In</a> </li>
                        </ul>
                    </nav>
                </div>

                
            </div>
        </div>
    </footer>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>


    <script src="js/vendor/jquery-3.5.1.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!-- <script src="js/vendor/popper.min.js"></script> -->
    <!-- <script src="js/vendor/bootstrap.min.js"></script> -->

    <script src="js/vendor/slick.min.js"></script>
    <script src="js/slick-custom.js"></script>
    <script src="js/slim-header.js"></script>

    <script>
        $(document).ready(function() {
            $("#video-modal").on("hidden.bs.modal", function() {
                $("#iframeYoutube").attr("src", "#");
            })
        })

        function changeVideo(vId) {
            var iframe = document.getElementById("iframeYoutube");
            iframe.src = "https://www.youtube.com/embed/e80BbX05D7Y" + vId;

            $("#video-modal").modal("show");
        }
    </script>




    <script>
        var a = 0;
        $(window).scroll(function() {

            var oTop = $('#counter').offset().top - window.innerHeight;
            if (a == 0 && $(window).scrollTop() > oTop) {
                $('.counter-value').each(function() {
                    var $this = $(this),
                        countTo = $this.attr('data-count');
                    $({
                        countNum: $this.text()
                    }).animate({
                            countNum: countTo
                        },

                        {
                            duration: 2000,
                            easing: 'swing',
                            step: function() {
                                $this.text(Math.floor(this.countNum));
                            },
                            complete: function() {
                                $this.text(this.countNum);
                                //alert('finished');
                            }

                        });
                });
                a = 1;
            }

        });


        $(function() {
            $('.slick-center-main').slick({
                dots: true,
                centerMode: true,
                infinite: true,
                autoplay: false,
                slidesToShow: 1,
                focusOnSelect: true,
                centerPadding: '230px',
                responsive: [{
                    breakpoint: 1399,
                    settings: {
                        centerPadding: '150px',
                    }
                }, {
                    breakpoint: 1199,
                    settings: {
                        centerPadding: '200px',
                    }
                }, {
                    breakpoint: 992,
                    settings: {
                        centerPadding: '10%',
                    }
                }, {
                    breakpoint: 500,
                    settings: {
                        slidesToShow: 1,
                        centerMode: false
                    }
                }, ]
            });

        });
        
    </script>

</body>
