

<div class="main-content-area minimum-area">
    <section class="faq-sction">
        <div class="custom-container flex-column ms-auto me-0">
            <div class="stylish-head">
                <small>Peace of Mind for Your</small>
                <div class="h1">amazone business</div>
                <div class="large">Faq</div>
            </div>
            <div class="accordion-wraper">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Intelligent Amazon Product Alerts Buybox Hijackers, Product <br class=" d-none d-md-block"> Suppressions, views, Changes
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                What’s that? That’s the alarm you wish you’d heard when your listing was hijacked, a product was suppressed, What’s that? That’s the alarm you wish you’d heard when your listing was hijacked, a product was suppressed, you lost your Amazon BSR, or ,
                                <span class="orange-text"> Amazon randomly </span>changed your product title and you only discovred the What’s that? That’s the alarm you wish you’d heard when your listing was hijacked, a product was suppressed, problem
                                after missing out on thousands
                                <ul class="list-item">
                                    <li>Monitor up to 20 ASINs</li>
                                    <li>Simple Revenew,Profit Reports</li>
                                    <li>Product Listing Alerts</li>
                                    <li>Product Reviews Alerts</li>
                                    <li>Hijacker Alerts</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Intelligent Amazon Product Alerts Buybox Hijackers, Product Amazon Product Alerts Buybox Product <br class=" d-none d-md-block"> Suppressions, views, Changes
                        </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                What’s that? That’s the alarm you wish you’d heard when your listing was hijacked, a product was suppressed, What’s that? That’s the alarm you wish you’d heard when your listing was hijacked, a product was suppressed, you lost your Amazon BSR, or ,
                                <span class="orange-text"> Amazon randomly </span>changed your product title and you only discovred the What’s that? That’s the alarm you wish you’d heard when your listing was hijacked, a product was suppressed, problem
                                after missing out on thousands
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Intelligent Amazon Product Alerts Buybox Hijackers, Product Amazon Product Alerts Buybox Product <br class=" d-none d-md-block"> Suppressions, views, Changes
                        </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                What’s that? That’s the alarm you wish you’d heard when your listing was hijacked, a product was suppressed, What’s that? That’s the alarm you wish you’d heard when your listing was hijacked, a product was suppressed, you lost your Amazon BSR, or ,
                                <span class="orange-text"> Amazon randomly </span>changed your product title and you only discovred the What’s that? That’s the alarm you wish you’d heard when your listing was hijacked, a product was suppressed, problem
                                after missing out on thousands
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Intelligent Amazon Product Alerts Buybox Hijackers, Product Amazon Product Alerts Buybox Product <br class=" d-none d-md-block"> Suppressions, views, Changes
                        </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                What’s that? That’s the alarm you wish you’d heard when your listing was hijacked, a product was suppressed, What’s that? That’s the alarm you wish you’d heard when your listing was hijacked, a product was suppressed, you lost your Amazon BSR, or ,
                                <span class="orange-text"> Amazon randomly </span>changed your product title and you only discovred the What’s that? That’s the alarm you wish you’d heard when your listing was hijacked, a product was suppressed, problem
                                after missing out on thousands
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
</div>
<footer class="footer-main">
    <div class="logo-social">
        <a href="" class="ftr-logo">
            <img src="../../assets/img/logo.svg" alt="">
        </a>
        <div class="social-link">
            <a href=""><img src="../../assets/img/fb.svg" alt=""></a>
            <a href=""><img src="../../assets/img/twitter.svg" alt=""></a>
            <a href=""><img src="../../assets/img/linkedin.svg" alt=""></a>
            <a href=""><img src="../../assets/img/youtube.svg" alt=""></a>
        </div>

        <!-- <a href="#" class="gradient-btn"><img class=" me-3" src="img/playstore.svg" alt=""> DOWNLOD FROM Playstore</a> -->
    </div>
    <div class="footer-menu">
        <div class="row newsletter-row">
            <!-- // newsletter signup form -->
            <div class="col-lg-6 col-md-6">
                <div class="footer-newsletter-wrap">
                    <div class="nl-titles">
                        <h3>Subscribe to our newsletter</h3>
                         <p>Subscribe to our newsletter to receive exclusive offer, latest news and updates</p>
                    </div>
                    <form action="" class="nl-form" id="newsletter-form">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="E-mail" aria-label="email" aria-describedby="nl-join">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" id="nl-join">SUBSCRIBE</button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
            <div class="col-lg-6  col-md-6 d-flex">
                <img src="../../assets/img/subscribe.svg" alt="newsletter" class="newsletter-img mx-auto mt-auto"/>
            </div>
            <!-- // newsletter signup form ends-->
        </div>
        <div class="row">
            <div class="col-lg-12 pt-4">
                <nav>
                    <strong>quick links</strong>

                    <div class="line"></div>

                    <ul>
                        <li><a> Pricing</a></li>
                        <li><a> FAQ</a> </li>
                        <li><a> Testimonials</a> </li>
                        <li><a> Terms and Conditions</a> </li>
                        <li><a> Privacy Policy</a> </li>
                        <li><a>Sign In</a> </li>
                    </ul>
                </nav>
            </div>

            
        </div>
    </div>
</footer>