<div class="login-outer d-flex">
    <div class="left-box-outer col-lg-6 col-md-6">
        <div class="left-cont-detail">
            <div class="content-section">
                Is your Amazon revenue protected? Now you can quickly get notified of changes, such as new competitors, product suppressions etc.
            </div>
            <div class="image-section">
                <img src="../../assets/img/login-bg.svg">
            </div>
        </div>
    </div>
    <div class="right-box-outer col-lg-6 col-md-6">
        <div class="right-cont-detail">
            <div class="primary-head">
                <h3>Peace of Mind for Your <br>Amazon Business</h3>
                <p>Seller Simple monitors your products while helping you grow your business</p>
            </div>
            <!-- <div class="forms">
                    <div class="input-holder">
                        <input class="form_control" type="text" placeholder="Username">
                        <span class="icn-img">
                            <img src="img/user.svg">
                        </span>
                      </div>
                      <div class="input-holder">
                        <input class="form_control" type="password" placeholder="Password">
                        <span class="icn-img">
                            <img src="img/lock.svg">
                        </span>
                      </div>
                </div> -->
            <!-- <div class="check-cont">
                    <div class="check-section">
                        <label class="check-container">
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                            Keep me Logged
                          </label>
                    </div>
                    <div class="fgt-psw">
                        Forgot Password ?
                    </div>
                    
                </div> -->
            <div class="btn-grp amazone-login">
                <!-- <a href="" class="gradient-btn mb-3">LOGIN</a> -->
                <!-- <strong>Sign Up using your Amazon account (recommended)</strong> -->
                <a [href]="authUrl" class="amzone-btn"><img class="me-2" src="../../assets/img/amazon-logo.svg" alt=""> <span>Login with Amazon</span></a>
                <div class="list-style">
                    <ul>
                        <li>Use your existing Amazon.com account that you already know and trust </li>
                        <li> No need to remember an additional user name and password</li>
                    </ul>
                </div>
                <!-- <a href="sign-up.html" class="btn_sm"> <span class="me-2">Not signed up?</span> Signup Here</a> -->
            </div>
        </div>

        <div class="bg-container">
            <div class="left-bg"><img src="../../assets/img/login-sec-bg.svg" alt="seller simple"></div>
            <div class="right-bg"><img src="../../assets/img/login-sec-bg.svg" alt="seller simple"></div>
        </div>
    </div>


   
</div>

