    <div class="table-main lg-table">
        <div class="title-main">
            <h2>Monitoring</h2>
            <div class="rgt-scnt">
                <button class="primary-btn">Alert Settings</button>
            </div>
        </div>
        <div class="sub-head">
            <div class="cover-grp">

                <div class="dropdown profile-drop darck-drop">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <span><img src="../../../assets/img/icon-eye.svg" alt=""></span>View
            </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 1</a></li>
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 2</a></li>
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 3</a></li>
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 4</a></li>

                    </ul>
                </div>

                <div class="dropdown profile-drop darck-drop">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <span><img src="../../../assets/img/icon-filter.svg" alt=""></span>Filter Alerts
             </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 1</a></li>
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 2</a></li>
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 3</a></li>
                        <li><a class="dropdown-item" href="#">Option Lorem ipsum 4</a></li>

                    </ul>
                </div>

            </div>
        </div>
        <div class="table-otr table-responsive table-min-height table-header-fixed">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="width-003">
                            <div class="sort">
                                <span>Date</span>
                                <div class="otr">
                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>ASIN/SKU</span>
                                <div class="otr">
                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>Alert Type</span>
                                <div class="otr">
                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>ALERT</span>
                                <div class="otr">
                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="sort">
                                <span>INFO</span>
                                <div class="otr">
                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                </div>
                            </div>
                        </th>
                        <th class="width-004">
                            <div class="sort">
                                <span>ACTION</span>
                                <div class="otr">
                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>03/01/21</td>
                        <td>
                            <div class="otr">
                                <div class="product">
                                    <img src="../../../assets/img/81Ha+SI+QML._SX679_.png" alt="">
                                </div>
                                <div class="d-block">
                                    <p>ASIN: BO28JHAS</p>
                                    <p>SKU: H1-R850-5808</p>
                                </div>

                            </div>
                        </td>
                        <td>New Competitior</td>
                        <td>
                            <div class="link-cover">
                                <p>Product: <a class="link-style" href="">Cell phone covers for iphone 11 pro max</a></p>

                                <div class="collapse-btn-otr">
                                    <button class="collapse-btn dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Previous</button>

                                    <button class="collapse-btn dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample-2" role="button" aria-expanded="false" aria-controls="collapseExample">New</button>

                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="link-cover">
                                <p><a class="link-style" data-bs-toggle="modal" data-bs-target="#viewchanges" href="">View changes</a></p>
                            </div>
                        </td>
                        <td>
                            <button class="table-button">
                           <img src="../../../assets/img/icon-delete.svg" alt="">
                        </button>
                        </td>
                    </tr>

                    <tr class="collapse-table">
                        <td colspan="3"></td>
                        <td colspan="3">

                            <div class="collapse collapse-otr" id="collapseExample">
                                <div class="card">
                                    <ul>
                                        <li>Perfect fit</li>
                                        <li>Low price</li>
                                        <li>Cell phone cover for iPhone 11- no yellow coloring</li>
                                    </ul>
                                </div>
                            </div>

                        </td>
                    </tr>


                    <tr class="collapse-table">
                        <td colspan="3"></td>
                        <td colspan="3">
                            <div class="collapse collapse-otr spacing" id="collapseExample-2">
                                <div class="card">
                                    <ul>
                                        <li>Perfect fit</li>
                                        <li>Low price</li>
                                        <li>Cell phone cover for iPhone 11- no yellow coloring</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td>03/01/21</td>
                        <td>
                            <div class="otr">
                                <div class="product">
                                    <img src="../../../assets/img/81Ha+SI+QML._SX679_.png" alt="">
                                </div>
                                <div class="d-block">
                                    <p>ASIN: BO28JHAS</p>
                                    <p>SKU: H1-R850-5808</p>
                                </div>
                            </div>
                        </td>
                        <td>New Competitior</td>
                        <td>
                            <div class="link-cover">
                                <p>Product: <a class="link-style" href="">Cell phone covers for iphone 11 pro max</a></p>

                                <div class="collapse-btn-otr">
                                    <button class="collapse-btn dropdown-toggle" data-bs-toggle="collapse" href="#add-new-id" role="button" aria-expanded="false" aria-controls="collapseExample">Previous</button>

                                    <button class="collapse-btn dropdown-toggle" data-bs-toggle="collapse" href="add-new-id" role="button" aria-expanded="false" aria-controls="collapseExample">New</button>

                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="link-cover">
                                <p><a class="link-style" href="">View changes</a></p>
                            </div>
                        </td>
                        <td>
                            <button class="table-button">
                           <img src="../../../assets/img/icon-delete.svg" alt="">
                        </button>
                        </td>
                    </tr>
                    <tr>
                        <td>03/01/21</td>
                        <td>
                            <div class="otr">
                                <div class="product">
                                    <img src="../../../assets/img/81Ha+SI+QML._SX679_@2x.png" alt="">
                                </div>
                                <div class="d-block">
                                    <p>ASIN: BO28JHAS</p>
                                    <p>SKU: H1-R850-5808</p>
                                </div>
                            </div>
                        </td>
                        <td>New Competitior</td>
                        <td>
                            <div class="link-cover">
                                <p>Product: <a class="link-style" href="">Cell phone covers for iphone 11 pro max</a></p>

                                <div class="collapse-btn-otr">
                                    <button class="collapse-btn dropdown-toggle" data-bs-toggle="collapse" href="#add-new-id" role="button" aria-expanded="false" aria-controls="collapseExample">Previous</button>

                                    <button class="collapse-btn dropdown-toggle" data-bs-toggle="collapse" href="add-new-id" role="button" aria-expanded="false" aria-controls="collapseExample">New</button>

                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="link-cover">
                                <p><a class="link-style" href="">View changes</a></p>
                            </div>
                        </td>
                        <td>
                            <button class="table-button">
                           <img src="../../../assets/img/icon-delete.svg" alt="">
                        </button>
                        </td>
                    </tr>
                    <tr>
                        <td>03/01/21</td>
                        <td>
                            <div class="otr">
                                <div class="product">
                                    <img src="../../../assets/img/product-01.png" alt="">
                                </div>
                                <div class="d-block">
                                    <p>ASIN: BO28JHAS</p>
                                    <p>SKU: H1-R850-5808</p>
                                </div>
                            </div>
                        </td>
                        <td>New Competitior</td>
                        <td>
                            <div class="link-cover">
                                <p>Product: <a class="link-style" href="">Cell phone covers for iphone 11 pro max</a></p>

                                <div class="collapse-btn-otr">
                                    <button class="collapse-btn dropdown-toggle" data-bs-toggle="collapse" href="#add-new-id" role="button" aria-expanded="false" aria-controls="collapseExample">Previous</button>

                                    <button class="collapse-btn dropdown-toggle" data-bs-toggle="collapse" href="add-new-id" role="button" aria-expanded="false" aria-controls="collapseExample">New</button>

                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="link-cover">
                                <p><a class="link-style" href="">View changes</a></p>
                            </div>
                        </td>
                        <td>
                            <button class="table-button">
                           <img src="../../../assets/img/icon-delete.svg" alt="">
                        </button>
                        </td>
                    </tr>
                    <tr>
                        <td>03/01/21</td>
                        <td>
                            <div class="otr">
                                <div class="product">
                                    <img src="../../../assets/img/product-01.png" alt="">
                                </div>
                                <div class="d-block">
                                    <p>ASIN: BO28JHAS</p>
                                    <p>SKU: H1-R850-5808</p>
                                </div>
                            </div>
                        </td>
                        <td>New Competitior</td>
                        <td>
                            <div class="link-cover">
                                <p>Product: <a class="link-style" href="">Cell phone covers for iphone 11 pro max</a></p>

                                <div class="collapse-btn-otr">
                                    <button class="collapse-btn dropdown-toggle" data-bs-toggle="collapse" href="#add-new-id" role="button" aria-expanded="false" aria-controls="collapseExample">Previous</button>

                                    <button class="collapse-btn dropdown-toggle" data-bs-toggle="collapse" href="add-new-id" role="button" aria-expanded="false" aria-controls="collapseExample">New</button>

                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="link-cover">
                                <p><a class="link-style" href="">View changes</a></p>
                            </div>
                        </td>
                        <td>
                            <button class="table-button">
                           <img src="../../../assets/img/icon-delete.svg" alt="">
                        </button>
                        </td>
                    </tr>
                    <tr>
                        <td>03/01/21</td>
                        <td>
                            <div class="otr">
                                <div class="product">
                                    <img src="../../../assets/img/product-01.png" alt="">
                                </div>
                                <div class="d-block">
                                    <p>ASIN: BO28JHAS</p>
                                    <p>SKU: H1-R850-5808</p>
                                </div>
                            </div>
                        </td>
                        <td>New Competitior</td>
                        <td>
                            <div class="link-cover">
                                <p>Product: <a class="link-style" href="">Cell phone covers for iphone 11 pro max</a></p>

                                <div class="collapse-btn-otr">
                                    <button class="collapse-btn dropdown-toggle" data-bs-toggle="collapse" href="#add-new-id" role="button" aria-expanded="false" aria-controls="collapseExample">Previous</button>

                                    <button class="collapse-btn dropdown-toggle" data-bs-toggle="collapse" href="add-new-id" role="button" aria-expanded="false" aria-controls="collapseExample">New</button>

                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="link-cover">
                                <p><a class="link-style" href="">View changes</a></p>
                            </div>
                        </td>
                        <td>
                            <button class="table-button">
                           <img src="../../../assets/img/icon-delete.svg" alt="">
                        </button>
                        </td>
                    </tr>
                    <tr>
                        <td>03/01/21</td>
                        <td>
                            <div class="otr">
                                <div class="product">
                                    <img src="../../../assets/img/product-01.png" alt="">
                                </div>
                                <div class="d-block">
                                    <p>ASIN: BO28JHAS</p>
                                    <p>SKU: H1-R850-5808</p>
                                </div>
                            </div>
                        </td>
                        <td>New Competitior</td>
                        <td>
                            <div class="link-cover">
                                <p>Product: <a class="link-style" href="">Cell phone covers for iphone 11 pro max</a></p>

                                <div class="collapse-btn-otr">
                                    <button class="collapse-btn dropdown-toggle" data-bs-toggle="collapse" href="#add-new-id" role="button" aria-expanded="false" aria-controls="collapseExample">Previous</button>

                                    <button class="collapse-btn dropdown-toggle" data-bs-toggle="collapse" href="add-new-id" role="button" aria-expanded="false" aria-controls="collapseExample">New</button>

                                </div>
                            </div>
                        </td>


                        <td>
                            <div class="link-cover">
                                <p><a class="link-style" href="">View changes</a></p>
                            </div>
                        </td>
                        <td>
                            <button class="table-button">
                           <img src="../../../assets/img/icon-delete.svg" alt="">
                        </button>
                        </td>

                    </tr>

                </tbody>
            </table>


        </div>
        <div class="pagination-otr">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <span class="lft"><img src="../../../assets/img/chevron-arrows.svg" alt=""></span>Prev</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next <span class="rgt"><img src="../../../assets/img/chevron-arrows.svg" alt=""></span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="modal fade cusotm-modal change-number-modal view-changes-modal" id="viewchanges" tabindex="-1" aria-labelledby="viewchangesLabel" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeNumberLabel">View Changes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                </div>
                <div class="modal-body">
                    <div class="change-number-modal-body">
                        <div class="item-detail-cover">
                            <div class="item-detail-row row">
                                <div class="col-lg-2 col-md-6 sm-det-block">
                                    <div class="item-wrapper">
                                        <div class="item-label">
                                            <p class="title-p">ASIN</p>
                                            <p class="label-p">H1-R850-R808</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6 sm-det-block">
                                    <div class="item-wrapper">
                                        <div class="item-label">
                                            <p class="title-p">SKU</p>
                                            <p class="label-p">H1-R850-R808</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-8 sm-det-block">
                                    <div class="item-wrapper">
                                        <div class="item-label">
                                            <p class="title-p">Title</p>
                                            <p class="label-p">New Cell Cover made from silicone</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 sm-det-block">
                                    <div class="item-wrapper">
                                        <div class="item-label">
                                            <p class="title-p">Alert type</p>
                                            <p class="label-p">New competitor</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="img-block-cover">
                            <div class="img-block-wrapper">
                                <div class="img-block">
                                    <div class="img-title">
                                        <h4>Previous Value</h4>
                                        <p>None</p>
                                    </div>
                                    <div class="scrnshot-block">
                                        <h4>Previous Screenshot</h4>
                                        <div class="scrnshot-img">
                                            <span>
												<img src="../../../assets/img/scrnshot.png" alt="">
											</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="img-block">
                                    <div class="img-title">
                                        <h4>New Value</h4>
                                        <p>TradersX</p>
                                    </div>
                                    <div class="scrnshot-block">
                                        <h4>New Screenshort</h4>
                                        <div class="scrnshot-img">
                                            <span>
												<img src="../../../assets/img/scrnshot.png" alt="">
											</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>