<div class="dashboard-main">

   

        <div class="alert alert-warning">
            <strong>Warning!</strong> Indicates a warning that might need attention.
            <button class="close" data-dismiss="alert" aria-label="close"> <i class="fas fa-times"></i></button>
        </div>


      
        <div class="content-area">
            <div class="table-main">
                <div class="tab_menu">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link " id="one-tab" data-bs-toggle="tab" data-bs-target="#one"
                                type="button" role="tab" aria-controls="one" aria-selected="false">Seller Account
                            </button>
                        </li>
                        <li>
                            <button class="nav-link" id="two-tab" data-bs-toggle="tab" data-bs-target="#two"
                                type="button" role="tab" aria-controls="two"
                                aria-selected="false">Notifications</button>
                        </li>
                        <li>
                            <button class="nav-link" id="three-tab" data-bs-toggle="tab" data-bs-target="#three"
                                type="button" role="tab" aria-controls="three"
                                aria-selected="false">Subscriptions</button>
                        </li>
                        <li>
                            <button class="nav-link" id="fourth-tab" data-bs-toggle="tab" data-bs-target="#fourth"
                                type="button" role="tab" aria-controls="two" aria-selected="false">Account</button>
                        </li>
                        <li>
                            <button class="nav-link active" id="fifth-tab" data-bs-toggle="tab" data-bs-target="#fifth"
                                type="button" role="tab" aria-controls="two" aria-selected="true">Alert</button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane " id="one" role="tabpanel" aria-labelledby="one-tab">
                        <div class="table-otr table-responsive tab-inner-table tab-table  ">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="sort">
                                                <span>Seller id</span>
                                                <div class="otr">
                                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="sort">
                                                <span> Region</span>
                                                <div class="otr">
                                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="sort">
                                                <span> MWS Auth Token</span>
                                                <div class="otr">
                                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="sort">
                                                <span>Remove</span>
                                                <div class="otr">
                                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ABOIOASLDJ0123A</td>
                                        <td> North America </td>
                                        <td>******d912</td>
                                        <td>
                                            <button class="table-button">
                                                <img src="../../../assets/img/material-edit.svg" alt="">
                                            </button>
                                            <button class="table-button" data-bs-toggle="modal"
                                                data-bs-target="#delete-modal">
                                                <img src="../../../assets/img/icon-delete.svg" alt="">
                                            </button>
                                            <button class="table-button" data-bs-toggle="modal"
                                                data-bs-target="#delete-modal">
                                                <img src="../../../assets/img/email-icon.svg" alt="">
                                            </button>
                                            <button class="table-button" data-bs-toggle="modal"
                                                data-bs-target="#delete-modal">
                                                <img src="../../../assets/img/generate-background-task-icon.svg" alt="">
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ABOIOASLDJ0123A</td>
                                        <td> North America </td>
                                        <td>******d912</td>
                                        <td>
                                            <button class="table-button">
                                                <img src="../../../assets/img/material-edit.svg" alt="">
                                            </button>
                                            <button class="table-button">
                                                <img src="../../../assets/img/icon-delete.svg" alt="">
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ABOIOASLDJ0123A</td>
                                        <td> North America </td>
                                        <td>******d912</td>
                                        <td>
                                            <button class="table-button">
                                                <img src="../../../assets/img/material-edit.svg" alt="">
                                            </button>
                                            <button class="table-button">
                                                <img src="../../../assets/img/icon-delete.svg" alt="">
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ABOIOASLDJ0123A</td>
                                        <td> North America </td>
                                        <td>******d912</td>
                                        <td>
                                            <button class="table-button">
                                                <img src="../../../assets/img/material-edit.svg" alt="">
                                            </button>
                                            <button class="table-button">
                                                <img src="../../../assets/img/icon-delete.svg" alt="">
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ABOIOASLDJ0123A</td>
                                        <td> North America </td>
                                        <td>******d912</td>
                                        <td>
                                            <button class="table-button">
                                                <img src="../../../assets/img/material-edit.svg" alt="">
                                            </button>
                                            <button class="table-button">
                                                <img src="i../../../assets/mg/icon-delete.svg" alt="">
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-footer text-start">
                            <button class="add-btn primary-btn">Add Seller Account <i
                                    class="fas fa-plus-circle"></i></button>
                        </div>
                        <div class="border-box grid-area">
                            <div class="forms-area">
                                <div class="steps-otr">
                                    <h2>STEP:1</h2>
                                    <p>Authorize Seller Simple </p>
                                    <p>Sign-in to your Amazon Seller account and authorize Seller Simple to access your
                                        account
                                    </p>
                                    <div class="forms-main steps-forms mt-4">
                                        <div class="input-holder">
                                            <label for="">Developer name</label>
                                            <input class="form_control" type="text" placeholder="John philip">
                                        </div>
                                        <div class="input-holder">
                                            <label for="">Developer name</label>
                                            <input class="form_control" type="text" placeholder="ABOIOASLDJ0123A">
                                        </div>
                                        <div class="input-holder form-check-cover">
                                            <label for=""><strong>Region</strong> </label>
                                            <div class="form-check-otr">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="flexRadioDefault1">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        North America
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                        id="flexRadioDefault2" checked>
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        Europe
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-otr">
                                        <button class="primary-btn">Authorize</button>
                                    </div>
                                </div>
                                <div class="steps-otr">
                                    <h2>STEP:2</h2>
                                    <p>Enter Access Information</p>
                                    <p>Copy the Seller ID and MWS Auth Token from Seller Central and paste below</p>
                                    <div class="forms-main steps-forms mt-4">
                                        <div class="input-holder">
                                            <label for="">Seller ID:</label>
                                            <input class="form_control" type="text" placeholder="ABOIOASLDJ0123A">
                                        </div>
                                        <div class="input-holder">
                                            <label for="">MWS Auth Token</label>
                                            <input class="form_control" type="text" placeholder="ABOIOASLDJ0123A">
                                        </div>
                                    </div>
                                    <div class="btn-otr">
                                        <button class="primary-btn">Add Seller Account</button>
                                        <button class="primary-btn cancel-btn m-1">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="video-section">
                                <h3>How to connect to seller Account</h3>
                                <div class="video-box">
                                    <video id="myVideo">
                                        <source src="http://www.w3schools.com/tags/mov_bbb.mp4" type="video/mp4">
                                        <source src="http://www.w3schools.com/tags/mov_bbb.ogg" type="video/ogg">
                                        Sorry, your browser does not support HTML5 video.
                                    </video>
                                    <div class="buttons">
                                        <button class="control-btn second" onclick="playVid()" type="button">
                                            <i class="fas fa-play"></i>
                                            <button class="control-btn first" onclick="pauseVid()" type="button">
                                                <i class="fas fa-pause"></i></button>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-otr table-responsive tab-pane fade min-table-list" id="two" role="tabpanel"
                        aria-labelledby="two-tab">
                        <div class="forms">




                            <ul>
                                <li>
                                    Email notification
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" checked
                                            id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </li>
                                <li>
                                    Send new alerts immediately
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </li>
                                <li>
                                    Daily Summary Report
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade tab-table tab-inner-table" id="three" role="tabpanel"
                        aria-labelledby="three-tab">
                        <div class="table-main lg-table ">
                            <div class="title-main">
                                <h2>Subscription plan details</h2>
                            </div>
                            <div class="table-otr table-responsive">
                                <table class="table tab-inner-table no-border custom-mg">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="info">
                                                    <p>Current Plan</p>
                                                    <div class="block sm">Basic</div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="info">
                                                    <p>Current Plan</p>
                                                    <div class="block sm">Jan 5,2021</div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="info">
                                                    <p>Monthly Price</p>
                                                    <div class="block sm"><span class="cross">$19.99 $1</span>
                                                        (Promotion price for first 3 months)</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="info">
                                                    <p>Next Renewal Date</p>
                                                    <div class="block sm">April 5,2021</div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="info">
                                                    <p>Next Payment</p>
                                                    <div class="block sm">$19.99</div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="info">
                                                    <p>Subscription Status</p>
                                                    <div class="block sm active">Active</div>
                                                    <button class="primary-btn pl-3 mt-2" data-bs-toggle="modal"
                                                        data-bs-target="#subsciption">Change Subscription</button>
                                                    <a href="" class="modal-link m-3" data-bs-toggle="modal"
                                                        data-bs-target="#subCancel">Cancel Subscription</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="info">
                                                    <p>Plan Details</p>
                                                    <div class="block sm">Monitor upto 20 ASINS <br>Product Listing
                                                        alerts<br> Hijacker alerts</div>
                                                </div>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="table-main lg-table ">
                            <div class="title-main">
                                <h2>Payment Method</h2>
                            </div>
                            <div class="table-otr">
                                <table class="table tab-inner-table no-border">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <button class="amzone-btn">
                                                    <img class="mt-2" src="../../../assets/img/amazon_pay_logo.svg" alt="">
                                                    <i> <img src="../../../assets/img/feather-arrow-right.svg" alt=""></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="table-main lg-table">
                            <div class="title-main">
                                <div class="title-left">
                                    <div class="title-block d-flex flex-wrap ">
                                        <h2>Reviews Automation</h2>
                                        <p class="ms-3">(Below is the history of your payment)</p>
                                    </div>

                                </div>
                                <div class="rgt-scnt"></div>
                            </div>

                            <div class="table-otr table-responsive vertical-scroll">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="sort">
                                                    <span>Payment Date</span>
                                                    <div class="otr">
                                                        <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                        <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                                    </div>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="sort">
                                                    <span>Payment Amount</span>
                                                    <div class="otr">
                                                        <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                        <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                                    </div>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="sort">
                                                    <span>Payment Method</span>
                                                    <div class="otr">
                                                        <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                        <button><img src="i../../../assets/img/chevron-down.svg" alt=""></button>
                                                    </div>
                                                </div>
                                            </th>


                                        </tr>
                                    </thead>
                                    <tbody>


                                        <tr>
                                            <td>January 5, 2021</td>
                                            <td>$1</td>
                                            <td>Amazon Pay</td>

                                        </tr>
                                        <tr>
                                            <td>January 5, 2021</td>
                                            <td>$1</td>
                                            <td>Amazon Pay</td>

                                        </tr>
                                        <tr>
                                            <td>January 5, 2021</td>
                                            <td>$1</td>
                                            <td>Amazon Pay</td>

                                        </tr>
                                        <tr>
                                            <td>January 5, 2021</td>
                                            <td>$1</td>
                                            <td>Amazon Pay</td>

                                        </tr>
                                        <tr>
                                            <td>January 5, 2021</td>
                                            <td>$1</td>
                                            <td>Amazon Pay</td>

                                        </tr>
                                        <tr>
                                            <td>January 5, 2021</td>
                                            <td>$1</td>
                                            <td>Amazon Pay</td>

                                        </tr>
                                        <tr>
                                            <td>January 5, 2021</td>
                                            <td>$1</td>
                                            <td>Amazon Pay</td>

                                        </tr>
                                        <tr>
                                            <td>January 5, 2021</td>
                                            <td>$1</td>
                                            <td>Amazon Pay</td>

                                        </tr>


                                    </tbody>
                                </table>


                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade tab-table tab-inner-table" id="fourth" role="tabpanel"
                        aria-labelledby="fourth-tab">
                        <div class="table-main lg-table">
                            <div class="title-main">
                                <h2>Account</h2>
                            </div>
                            <div class="table-otr table-responsive">
                                <table class="table tab-inner-table no-border custom-mg">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="info">
                                                    <p>Name</p>
                                                    <div class="block sm">John Doe</div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="info">
                                                    <p>email address</p>
                                                    <div class="block sm">John.doegmail.com</div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="info">
                                                    <p>Phone Number</p>
                                                    <div class="block sm"> +91 xxx xxx xxxx
                                                        <a href="" class="m-2 modal-link lgt-green"
                                                            data-bs-toggle="modal" data-bs-target="#changeNumber">Change
                                                            Phone Number</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade active show tab-table  min-table-list alerts-otr " id="fifth"
                        role="tabpanel" aria-labelledby="fifth-tab">

                        <div class="forms">

                            <div class="sub-head border-0 p-0">
                                <div class="cover-grp">
                                    <div class="head-btns">
                                        <button type="button" class="btn btn-light  me-xl-1 me-1"> Disable All</button>
                                        <button type="button" class="btn btn-green me-xl-1 me-1"> Enable All</button>
                                        <button type="button" class="btn btn-green"> Custom Enable</button>
                                    </div>
                                </div>
                            </div>

                            <ul>
                                <li>
                                    <i class="fas fa-exclamation-triangle"></i> Email notification
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" checked
                                            id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </li>
                                <li>
                                    <i class="fas fa-exclamation-triangle"></i> Email notification
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" checked
                                            id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </li>
                                <li class="disable-switch">
                                    <i class="fas fa-exclamation-triangle"></i> Email notification
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </li>
                                <li class="disable-switch">
                                    <i class="fas fa-exclamation-triangle"></i> Email notification
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </li>
                                <li class="disable-switch">
                                    <i class="fas fa-exclamation-triangle"></i> Email notification
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </li>
                                <li>
                                    <i class="fas fa-exclamation-triangle"></i> Email notification
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" checked
                                            id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </li>
                                <li>
                                    <i class="fas fa-exclamation-triangle"></i> Email notification
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" checked
                                            id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </li>
                                <li>
                                    <i class="fas fa-exclamation-triangle"></i> Email notification
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" checked
                                            id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </li>
                                <li>
                                    <i class="fas fa-exclamation-triangle"></i> Email notification
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" checked
                                            id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </li>
                                <li>
                                    <i class="fas fa-exclamation-triangle"></i> Email notification
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" checked
                                            id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </li>
                                <li>
                                    <i class="fas fa-exclamation-triangle"></i> Email notification
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" checked
                                            id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </li>
                                <li>
                                    <i class="fas fa-exclamation-triangle"></i> Email notification
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" checked
                                            id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Delete modal -->
<div class="modal fade cusotm-modal subscription-cancel-modal " id="delete-modal" tabindex="-1"
    aria-labelledby="delete-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="cancel-modal-body">

                    <div class="icon-hdg">
                        <i><img src="../../../assets/img/icon-delete.svg" alt=""></i>
                        <h4>Delete Subscription</h4>
                    </div>

                    <p>Check the box below to cancel subscription and choose Save. Your subscription will remain valid
                        until <span class="date">April 5, 2021</span></p>

                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-apply">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade cusotm-modal subscription-cancel-modal " id="subCancel" tabindex="-1"
    aria-labelledby="subCancelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="cancel-modal-body">
                    <p>
                        <img src="../../../assets/img/cancel-img.svg" alt="">
                    </p>
                    <h4>Cancel Subscription</h4>
                    <p>Check the box below to cancel subscription and choose Save. Your subscription will remain valid
                        until <span class="date">April 5, 2021</span></p>
                    <div class="form-col col-10 me-auto ms-auto mt-4 text-start">
                        <label for="changeNumber" class="form-label">Other cost per unit (USD)</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>


                    <div class="cancel-check-block">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Cancel Subscription
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-apply">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade cusotm-modal subscription-cancel-modal" id="subCancel" tabindex="-1"
    aria-labelledby="subCancelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="cancel-modal-body">
                    <p>
                        <img src="../../../assets/img/cancel-modal.svg" alt="">
                    </p>
                    <h4>Cancel Subscription</h4>
                    <p>Check the box below to cancel subscription and choose Save. Your subscription will remain valid
                        until <span class="date">April 5, 2021</span></p>
                    <div class="cancel-check-block">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Cancel Subscription
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-apply">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade cusotm-modal subsciption-modal" id="subsciption" tabindex="-1" aria-labelledby="subsciptionLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subsciptionLabel">Change Subscription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="subsciption-modal-body">
                    <div class="subsciption-title">
                        <h2>Choose subscription</h2>
                    </div>
                    <div class="pricing-table-cover">
                        <div class="pricing-table-wrapper">
                            <div class="pricing-col">
                                <div class="pricing-card active">
                                    <div class="card-title basic">
                                        <h4>Basic</h4>
                                    </div>
                                    <div class="card-details-block">
                                        <div class="price-wrapper">
                                            <div class="price-block">
                                                <span class="doller">$</span> <span class="price">9.99</span> <span
                                                    class="month"><span>/</span>month</span>
                                            </div>
                                        </div>
                                        <p class="fet-title">Top Features</p>
                                        <ul class="fet-ul">
                                            <li>Monitor up to 20 ASINS</li>
                                            <li>Simple Revenue, Profit reports</li>
                                            <li>Product listing alerts</li>
                                            <li>Product Review alerts</li>
                                            <li>Hijacker alerts</li>
                                        </ul>
                                    </div>
                                    <div class="plan-btn-wrapper">
                                        <a class="plan-btn" href="#">Choose Plan</a>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-col">
                                <div class="pricing-card">
                                    <div class="card-title plus">
                                        <h4>Plus</h4>
                                    </div>
                                    <div class="card-details-block">
                                        <div class="price-wrapper">
                                            <div class="price-block">
                                                <span class="doller">$</span> <span class="price">39.99</span> <span
                                                    class="month"><span>/</span>month</span>
                                            </div>
                                        </div>
                                        <p class="fet-title">Top Features</p>
                                        <ul class="fet-ul">
                                            <li>Monitor up to 100 ASINS</li>
                                            <li>Simple Revenue, Profit reports</li>
                                            <li>Product listing alerts</li>
                                            <li>Product Review alerts</li>
                                            <li>Hijacker alerts</li>
                                        </ul>
                                    </div>
                                    <div class="plan-btn-wrapper">
                                        <a class="plan-btn" href="#">Choose Plan</a>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-col">
                                <div class="pricing-card">
                                    <div class="card-title premium">
                                        <h4>Premium</h4>
                                    </div>
                                    <div class="card-details-block">
                                        <div class="price-wrapper">
                                            <div class="price-block">
                                                <span class="doller">$</span> <span class="price">69.99</span> <span
                                                    class="month"><span>/</span>month</span>
                                            </div>
                                        </div>
                                        <p class="fet-title">Top Features</p>
                                        <ul class="fet-ul">
                                            <li>Monitor up to 500 ASINS</li>
                                            <li>Simple Revenue, Profit reports</li>
                                            <li>Product listing alerts</li>
                                            <li>Product Review alerts</li>
                                            <li>Hijacker alerts</li>
                                        </ul>
                                    </div>
                                    <div class="plan-btn-wrapper">
                                        <a class="plan-btn" href="#">Choose Plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade cusotm-modal change-number-modal" id="changeNumber" tabindex="-1"
    aria-labelledby="changeNumberLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeNumberLabel">Change Phone Number</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="change-number-modal-body">
                    <div class="item-detail-cover">

                    </div>
                    <div class="number-form-cover">
                        <div class="form-col">
                            <label for="changeNumber" class="form-label">Phone Number</label>
                            <input type="email" class="form-control" id="changeNumber" placeholder="Phone Number">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal-close" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-apply">Save</button>
            </div>
        </div>
    </div>
</div>