<div class="content-area admin-dashboard-wrap">
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="dash-bard-box">
                <div class="total-seller">
                    <div class="circle-area">
                        <div class="circle">
                            <img src="../../../assets/img/vuesax-bold-building.svg" alt="">
                        </div>
                    </div>
                    <strong>2,355</strong>
                    <small>TOTAL SELLERS</small>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-md-6">
            <div class="dash-bard-box">
                <div class="das-title">
                    <div class="lft">
                        <div class="title-min">
                            <i><img src="../../../assets/img/receipt-item.svg" alt=""></i>
                            <strong>Subscription</strong>
                        </div>
                    </div>
                    <div class="rgt">
                        <div class="w-m-y-otr">
                            <button class="btn-sm active">Week</button>
                            <button class="btn-sm">Month</button>
                            <button class="btn-sm">Year</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="dash-bard-box">
                <div class="das-title">
                    <div class="lft">
                        <div class="title-min">
                            <i><img src="../../../assets/img/empty-wallet.svg" alt=""></i>
                            <strong>Revenue</strong>
                        </div>
                    </div>
                    <div class="rgt">
                        <div class="w-m-y-otr">
                            <button class="btn-sm active">Week</button>
                            <button class="btn-sm">Month</button>
                            <button class="btn-sm">Year</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>