
<div class="main-content-area half-sction">
    <section class="pricing-sction titles">
        <div class="container">
            <div class="stylish-head">
                <small>Peace of Mind for your</small>
                <div class="h1">amazone business</div>
                <div class="large">Pricing</div>
            </div>

        </div>

        
</section>
</div>


<section class="section_process pricing">
    <div class="container">
        <div class="row">
            <div class="col pb-3">
                <div class="chooseP-text-content d-none">
                    <h2 class="main_title text-center">
                        <span>
                            Choose Your Subscription Plan
                        </span>
                    </h2>
                    <div class="img_wrap d-none">
                        <img src="../../assets/img/choose_subs.svg" alt="">
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="choose-subscription">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 mb-5 mb-lg-3">
                            <div class="planSelector">
                                 
                                <div class="card text-center">
                                
                                    <div class="card-header free">
                                        Free
                                    </div>
                                    <div class="card-body">
                                      <h2 class="card-title free">$0.00<small>/month</small></h2>
                                      <h3 class="card-subtitle">Monitor up to x ASINS</h3>
                                      
                                      <ul class="plan-details"> 
                                        <li>Simple Revenue, Profit Reports</li>
                                        <li>Product Listing Alerts</li>
                                        <li>Product Review Alerts</li>
                                        <li>Best Selle Rank Alerts</li>
                                      </ul>

                                      <button href="#" class="primary-btn choosePlan-btn view_alerts">View Alerts</button>

                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        <div class="col-lg-3 col-sm-6 mb-5 mb-lg-3">
                            <div class="planSelector">
                                 
                                <div class="card text-center">
                                
                                    <div class="card-header basic">
                                        Basic
                                    </div>
                                    <div class="card-body">
                                      <h2 class="card-title">$19.99<small>/month</small></h2>
                                      <h3 class="card-subtitle">Monitor up to 20 ASINS</h3>
                                      
                                      <ul class="plan-details"> 
                                        <li>Simple Revenue, Profit Reports</li>
                                        <li>Product Listing Alerts</li>
                                        <li>Product Review Alerts</li>
                                        <li>Best Selle Rank Alerts</li>
                                      </ul>

                                      <button href="#" class="primary-btn choosePlan-btn view_alerts">View Alerts</button>

                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        <div class="col-lg-3  col-sm-6 mb-5 mb-lg-3">
                            <div class="planSelector">
                                 
                                <div class="card text-center">
                                    <div class="card-header plus">
                                        Plus
                                    </div>
                                    <div class="card-body">
                                      <h2 class="card-title">$39.99<small>/month</small></h2>
                                      <h3 class="card-subtitle">Monitor up to 100 ASINS</h3>
                                      <ul class="plan-details"> 
                                        <li>Simple Revenue, Profit Reports</li>
                                        <li>Product Listing Alerts</li>
                                        <li>Product Review Alerts</li>
                                        <li>Best Selle Rank Alerts</li>
                                      </ul>
                                      <button href="#" class="primary-btn choosePlan-btn view_alerts">View Alerts</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-3 col-sm-6 mb-5 mb-lg-3">
                            <div class="planSelector">
                                 
                                <div class="card text-center">
                                    <div class="card-header premium">
                                        Premium
                                    </div>
                                    <div class="card-body">
                                      <h2 class="card-title">$69.99<small>/month</small></h2>
                                      <h3 class="card-subtitle">Monitor up to 500 ASINS</h3>
                                      <ul class="plan-details"> 
                                        <li>Simple Revenue, Profit Reports</li>
                                        <li>Product Listing Alerts</li>
                                        <li>Product Review Alerts</li>
                                        <li>Best Selle Rank Alerts</li>
                                      </ul>
                                      <button href="#" class="primary-btn choosePlan-btn view_alerts">View Alerts</button>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="chooseP-text-content pt-3">
                    <div class="btn-group">
                        
                        <button class="primary-btn proceed-btn d-none">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <footer class="footer-main ">
    <div class="logo-social">
        <a href="" class="ftr-logo">
            <img src="../../assets/img/logo.svg" alt="">
        </a>
        <div class="social-link">
            <a href=""><img src="img/fb.svg" alt=""></a>
            <a href=""><img src="img/twitter.svg" alt=""></a>
            <a href=""><img src="img/linkedin.svg" alt=""></a>
        </div>

        <a href="#" class="gradient-btn"><img class=" me-3" src="img/playstore.svg" alt=""> DOWNLOD FROM Playstore</a>
    </div>
    <div class="footer-menu">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <nav>
                    <strong>quick links</strong>
                    <ul>
                        <li><a href="">  Pricing</a> </li>
                        <li><a href="">  FAQ</a> </li>
                        <li><a href="">  Testimonials</a> </li>
                        <li><a href="">  FreeTrial</a> </li>
                        <li><a href="">  Sign In or Sign Up</a> </li>
                        <li><a href="">  Resources & Guides</a> </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-sm-6">
                <nav>
                    <strong>quic</strong>
                    <ul>
                        <li><a href=""> Best Seller</a> </li>
                        <li><a href=""> Rank Changes</a> </li>
                        <li><a href=""> Piggybacker</a> </li>
                        <li><a href=""> Alerts </a> </li>
                        <li><a href="">  Product</a> </li>
                        <li><a href=""> Suppression</a> </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-sm-6">
                <nav>
                    <strong>BUSINESSES</strong>
                    <ul>
                        <li><a href=""> Best Seller</a> </li>
                        <li><a href=""> Rank Changes</a> </li>
                        <li><a href=""> Piggybacker</a> </li>
                        <li><a href=""> Alerts </a> </li>
                        <li><a href="">  Product</a> </li>
                        <li><a href=""> Suppression</a> </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-sm-6">
                <nav>
                    <ul>
                        <strong>LEGAL</strong>
                        <li><a href=""> Best Seller</a> </li>
                        <li><a href=""> Rank Changes</a> </li>
                        <li><a href=""> Piggybacker</a> </li>
                        <li><a href=""> Alerts </a> </li>
                        <li><a href="">  Product</a> </li>
                        <li><a href=""> Suppression</a> </li>
                    </ul>
                </nav>
            </div>

            <div class="col-lg-12">
                <div class="line"></div>
            </div>
            <div class="col-lg-12">
                <p class="info">more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsummany web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose</p>
            </div>
        </div>
    </div>
</footer> -->