 <div class="table-main lg-table">
                    <div class="title-main">
                        <div class="title-left">
                            <div class="title-block">
                                <h2>Reviews Automation</h2>
                                <p>Automatically send review request for new orders</p>
                            </div>
                            <div class="review-toggle-block forms">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                </div>
                            </div>
                        </div>
                        <div class="rgt-scnt">

                            <div class="search-otr">
                                <input type="text" placeholder="Search" class="">
                                <i><img src="../../../assets/img/search-icon.svg" alt=""></i>
                            </div>
                            <div class="datepicker-block">
                                <div class="input-group date">
                                    <input type="text" id="datepicker" class="form-control" value="12-02-2012">
                                    <div class="input-group-addon">
                                        <img src="../../../assets/img/calendar.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown profile-drop darck-drop">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                             <span><img src="../../../assets/img/icon-filter.svg" alt=""></span>Filter By
                             </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Option Lorem ipsum 1</a></li>
                                    <li><a class="dropdown-item" href="#">Option Lorem ipsum 2</a></li>
                                    <li><a class="dropdown-item" href="#">Option Lorem ipsum 3</a></li>
                                    <li><a class="dropdown-item" href="#">Option Lorem ipsum 4</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="">


                        <div class="table-otr table-responsive table-min-height new-table-style table-header-fixed table-header-center ">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="sort">
                                                <span>ORDER ID</span>
                                                <div class="otr">
                                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="sort">
                                                <span>ASIN</span>
                                                <div class="otr">
                                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="sort">
                                                <span>SKU</span>
                                                <div class="otr">
                                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="sort">
                                                <span>ORDER DATE</span>
                                                <div class="otr">
                                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="sort">
                                                <span>ORDER AMOUNT</span>
                                                <div class="otr">
                                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="sort">
                                                <span>UNITS ORDERED</span>
                                                <div class="otr">
                                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="sort">
                                                <span>ORDER STATUS</span>
                                                <div class="otr">
                                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="sort">
                                                <span>DELIVERY DATE</span>
                                                <div class="otr">
                                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                                </div>
                                            </div>
                                        </th>

                                        <th>
                                            <div class="sort">
                                                <span>REVIEW REQUESTSTATUS</span>
                                                <div class="otr">
                                                    <button><img src="../../../assets/img/chevron-up.svg" alt=""></button>
                                                    <button><img src="../../../assets/img/chevron-down.svg" alt=""></button>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>112-93999939-22</td>
                                        <td>BO28JHAS</td>
                                        <td>H1-R850-R808</td>
                                        <td>05/23/2021</td>
                                        <td>$12.99</td>
                                        <td>1</td>
                                        <td>
                                            <span class="pending">Pending</span>
                                        </td>
                                        <td>__</td>
                                        <td>
                                            <span class="pending">Pending</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>112-93999939-22</td>
                                        <td>BO28JHAS</td>
                                        <td>H1-R850-R808</td>
                                        <td>05/23/2021</td>
                                        <td>$12.99</td>
                                        <td>1</td>
                                        <td>
                                            <span class="delivered">Delivered</span>
                                        </td>
                                        <td>05/29/2021</td>
                                        <td>
                                            <span class="delivered">Send</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>112-93999939-22</td>
                                        <td>BO28JHAS</td>
                                        <td>H1-R850-R808</td>
                                        <td>05/23/2021</td>
                                        <td>$12.99</td>
                                        <td>1</td>
                                        <td>
                                            <span class="pending">Pending</span>
                                        </td>
                                        <td>__</td>
                                        <td>
                                            <span class="pending">Pending</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>112-93999939-22</td>
                                        <td>BO28JHAS</td>
                                        <td>H1-R850-R808</td>
                                        <td>05/23/2021</td>
                                        <td>$12.99</td>
                                        <td>1</td>
                                        <td>
                                            <span class="shipped">Shipped</span>
                                        </td>
                                        <td>05/29/2021</td>
                                        <td>
                                            <span class="pending">Pending</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>112-93999939-22</td>
                                        <td>BO28JHAS</td>
                                        <td>H1-R850-R808</td>
                                        <td>05/23/2021</td>
                                        <td>$12.99</td>
                                        <td>1</td>
                                        <td>
                                            <span class="pending">Pending</span>
                                        </td>
                                        <td>__</td>
                                        <td>
                                            <span class="pending">Pending</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>112-93999939-22</td>
                                        <td>BO28JHAS</td>
                                        <td>H1-R850-R808</td>
                                        <td>05/23/2021</td>
                                        <td>$12.99</td>
                                        <td>1</td>
                                        <td>
                                            <span class="pending">Pending</span>
                                        </td>
                                        <td>__</td>
                                        <td>
                                            <span class="pending">Pending</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>112-93999939-22</td>
                                        <td>BO28JHAS</td>
                                        <td>H1-R850-R808</td>
                                        <td>05/23/2021</td>
                                        <td>$12.99</td>
                                        <td>1</td>
                                        <td>
                                            <span class="pending">Pending</span>
                                        </td>
                                        <td>__</td>
                                        <td>
                                            <span class="pending">Pending</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>112-93999939-22</td>
                                        <td>BO28JHAS</td>
                                        <td>H1-R850-R808</td>
                                        <td>05/23/2021</td>
                                        <td>$12.99</td>
                                        <td>1</td>
                                        <td>
                                            <span class="pending">Pending</span>
                                        </td>
                                        <td>__</td>
                                        <td>
                                            <span class="pending">Pending</span>
                                        </td>
                                    </tr>








                                </tbody>
                            </table>


                        </div>
                    </div>
                    <div class="pagination-otr">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <span class="lft"><img src="../../../assets/img/chevron-arrows.svg" alt=""></span>Prev</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next <span class="rgt"><img src="../../../assets/img/chevron-arrows.svg" alt=""></span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>